
body {
    font-family: "Lato", sans-serif;
    font-size: 20;
  }

table.table1, table.table1 tr, table.table1 th, table.table1 td{
    border:1px solid black;
    padding: 2px;
}

table.table2{
    text-align: left;
    margin: 0 auto;
    border:1px solid black;
    width:30%;
}
p {
    font-size: 15;
    color:black;
}

img {
    padding: 25px;
}

img:hover {
    transform: rotate(25deg);
}

canvas {
    border: 3px solid #6AAB95;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
    border: 1px black;
    padding: 2px;
}

.chatmsg {
    padding-left: 10px;
    padding-bottom: 7px;
}

.chatbox {
    border: 5px solid lightcoral;
    text-align: left;
    margin: 0 auto;
    width:40%;
}

.topblock {
    width: 100vh;
    height: 30px;
}

.sidebar {
    height:100vh;
    width: 200px;
    position:fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color:grey;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: 20px;
}

.sidebar a{
  padding: 10px;
  text-decoration: none;
  color:white;
  display: block;
}

.sidebar a:hover {
    color: blue;
  }



.center {
    text-align: center;
    margin: 0 auto;
}

.content {
    margin-left:200px;
    height:100vh;
}

.contentacc {
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

.acclabel {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #6AAB95;
    border-radius: 3px;
    color: #FFF;
}

.acclabel:hover {
    background: #4E8774;
}

.accinput {
    display: none;
}


.accinput + .acclabel + .contentacc {
    display: none;
}

.accinput:checked + .acclabel + .contentacc {
    display: block;
}
