  {% extends "layout.html" %}
  {% block title %}Etusivu{% endblock %}
  
  {% block content %}
  
  {% if not session.username %}
  <div class="center">

    <b>Kirjaudu sisään</b>
    <br>
    
    <form action="/login" method="POST">
      <input type="text" name="username" required>
      <input type="password" name="password" required>
      <input type="submit" value="Kirjaudu">
    </form>
  </div>
{% endif %}
<div class="divider"></div>

<div class="center" style="width:70%";>
  <h3>Viimeisimmät hintahavainnot</h3>
  <table class="table" id="priceTable">
    <thead>
      <tr>
        <th>Asema</th>
        <th>95 E10</th>
        <th>98 E5</th>
        <th>Diesel</th>
        <th>E85</th>
        <th>pvm.</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>Keskihinnat </td>
      <td>{{ averages[0] }}</td>
      <td>{{ averages[1] }}</td>
      <td>{{ averages[2] }}</td>
      <td>{{ averages[3] }}</td>
      <td>{{ averages.date.strftime("%d.%m.%y.") }}</td>
    </tr>
    
    {% for price in prices %}
    <tr>
      <td><a href="/station/{{price[1]}}">{{ price[0] }}</a></td>
      <td>{{ price[2] }}</td>
      <td>{{ price[3] }}</td>
      <td>{{ price[4] }}</td>
      <td>{{ price[5] }}</td>
      <td>{{ price[6].strftime("%d.%m.%y. %H:%M") }}</td>
    </tr>
    
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="divider"></div>
<script>
$('#priceTable').DataTable({
    "lengthChange": false,
    "pageLength": 31,
    "columnDefs" : [{"targets":5, "type":"date-eu"}],
    "order": [[ 5, "desc" ]],
});
</script>
<div class="center">
  <h3>Chat</h3>
  <table class="chatbox">
    {% for msg in chats %}
    <tr>
      <td class="chatmsg">{{ msg[2].strftime("%d.%m. %H:%M") }} <a href="/user/{{msg[3]}}">{{ msg[1] }}</a>: {{ msg[0] }}</td>
    </tr>
    {% endfor %}
  
    {% if session.username %}
    <tr>
      <td class="chatmsg">
        
        <form action="chatmessage" method="POST">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          <input type="text" name="message" size="45" required></textarea>
          <input type="submit" value="Lähetä">
        </td>
      </tr>
  </form>
</table>
</div>

{% endif %}
{% endblock %}
