
<html>

{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}

{% block content %}

{% if session.username %}
<p>Terve {{ session.username }}</p>
{% else %}
<b>Kirjaudu sisään</b>

<form action="/login" method="POST">
<input type="text" name="username">
<input type="password" name="password">
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
<p>Viimeisimmät hintahavainnot:</p>

<table class="table1">
    <tr>
      <th>Asema</th>
      <th>95 E10</th>
      <th>98 E5</th>
      <th>Diesel</th>
      <th>E85</th>
      <th>pvm.</th>
    </tr>

    <tr>
        <td>Keskihinnat </td>
        <td>{{ averages[0] }}</td>
        <td>{{ averages[1] }}</td>
        <td>{{ averages[2] }}</td>
        <td>{{ averages[3] }}</td>
        <td></td>
      </tr>

{% for price in prices %}
    <tr>
      <td><a href="/station/{{price[1]}}">{{ price[0] }}</a></td>
      <td>{{ price[2] }}</td>
      <td>{{ price[3] }}</td>
      <td>{{ price[4] }}</td>
      <td>{{ price[5] }}</td>
      <td>{{ price[6].strftime("%d.%m. %H:%M") }}</td>
    </tr>

    {% endfor %}
</table>

<h3>Chat</h3>
<table class="table2">
{% for msg in chats %}
    <tr>
        <td>{{ msg[2].strftime("%d.%m.%y %H:%M") }} <a href="/user/{{msg[3]}}">{{ msg[1] }}</a>: {{ msg[0] }}</td>
    </tr>
{% endfor %}
</table>
{% if session.username %}
<form action="chatmessage" method="POST">
    <input type="textfield" name="message">
    <input type="submit" value="Lähetä">
    </form>
{% endif %}
{% endblock %}
</html>