<!doctype html>
<link rel="shortcut icon" href="static/favicon.ico">
<link rel="stylesheet" href="static/style.css"> 
<title>nafta.net - {% block title %}{% endblock %}</title>
<a href="/"><img src="static/favicon.ico"></a>  
<a href="/newprice">Lisää havainto</a> 
<a href="/search">Etsi</a> <a href="/stats">Tilastot</a>  
{% if session.username %}<a href="/newstation">Lisää asema</a>  <a href="/logout">Kirjaudu ulos</a> {% else %} <a href="/newuser">Rekisteröidy</a> {% endif%}

<hr>
{% block content %}{% endblock %}
<hr>
Copyright 2021
