{% extends "layout.html" %}
{% block title %}Lisää havainto{% endblock %}

{% block content %}
Käytä desimaalierottimena pistettä.<br>
Jos asema ei myy jotain polttoainetta laita hinnaksi "0.0"<br>
Aseman numero löytyy alla olevan taulukon ensimmäisestä sarakkeesta<br>
<form action="/addprice" method="POST">
    Aseman numero <input type="text" name="station_number"><br>
    hinta 95 E10 <input type="text" name="price1"><br>
    hinta 98 E5 <input type="text" name="price2"><br>
    hinta Diesel <input type="text" name="price3"><br>
    <input type="submit" value="Lisää">
    </form>

    Asemat:
    <table>
        <tr>
            <th>nro</th>
            <th>Asema</th>
            <th>Osoite</th>
            <th>Postinumero</th>
            <th>Kaupunki</th>
            <th>Tie</th>
          </tr>
    {% for station in stations %}
    <tr>
        <td>{{ station[0] }}</td>
        <td>{{ station[1] }}</td>
        <td>{{ station[2] }}</td>
        <td>{{ station[4] }}</td>
        <td>{{ station[3] }}</td>
        <td>{{ station[5] }}</td>
      </tr>

    {% endfor %}
    </table>
{% endblock %}