{% extends "layout.html" %}
{% block title %}Haku{% endblock %}

{% block content %}

<h2 class="center">Haku</h2>
<div class="center content">
    <div class="contentacc corner">
        <form action="search" method="POST">    
            
            <table class="center"> 
                <tr>
                    <td>
                <input type="radio" name="type" value="0" checked>Tie</input>
            </td>
            <td>
                <input type="text" name="roadnr" list="rd" autocomplete="off">
                <datalist id="rd">
                    {% for rd in roads%}
                    <option value={{ rd[0] }}>{{ rd[0] }}</option>
                    {% endfor %}
                </datalist>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="type" value="1">Postinumero</input>
            </td>
            <td>
                <input type="text" name="postnr" list="nr" autocomplete="off">
                <datalist id="nr">
                    {% for nr in postnrs%}
                    <option value={{ nr[0] }}>{{ nr[0] }}</option>
                    {% endfor %}
                    
                </datalist>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="type" value="2">Postitoimipaikka</input>
            </td>
            <td>
                <input type="text" name="city" list="ct" autocomplete="off">
                <datalist id="ct">
                    {% for ct in cities%}
                    <option value={{ ct[0] }}>{{ ct[0] }}</option>
                    {% endfor %}
                    <br>
                </datalist>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Hae">
    </form>
</div>


<div class="divider"></div>

<div class="contentacc corner">
            <table class="center" id="sortTable">
            <thead>
                <tr>
                    <th>Asema</th>
                    <th>95 E10</th>
                <th>98 E5</th>
                <th>Diesel</th>
                <th>E85</th>
                <th>pvm.</th>
            </tr>
        </thead>
        <tbody>
            {% for price in results %}
            <tr>
                <td><a href="/station/{{price[1]}}">{{ price[0] }}</a></td>
                <td>{{ price[2] }}</td>
                <td>{{ price[3] }}</td>
                <td>{{ price[4] }}</td>
                <td>{{ price[5] }}</td>
                <td>{{ price[6].strftime("%d.%m.%y. %H:%M") }}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    
    <!-- default sort by date -->
    <script>
        $('#sortTable').DataTable({
            "pageLength": 30,
            "columnDefs" : [{"targets":5, "type":"date-eu"}],
            "order": [[ 5, "desc" ]],
        });
        </script>
        </div>
    </div>
        {% endblock %}