{% extends "layout.html" %}
{% block title %}Tilastot{% endblock %}


{% block content %}
<input class="accinput" type="checkbox" id="daily" />
<label class="acclabel" for="daily">Päivittäiset</label>
<div class="contentacc">
    <canvas id="dailyavgs" width="1000" height="500" ></canvas>
    <script>
        var ctx = document.getElementById('dailyavgs').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
            
                labels: [{% for item in daily %} '{{item[4].strftime("%d.%m.%y")}}', {% endfor %}],
                datasets: [{
                    label: "95 E10",
                    data: [{% for item in daily %} {{item[0]}}, {% endfor %}],
                    backgroundColor:"green"
                },{
                    label: "98 E5",
                    data: [{% for item in daily %} {{item[1]}}, {% endfor %}],
                    backgroundColor:"darkgreen"

                },{
                    label: "DIESEL",
                    data: [{% for item in daily %} {{item[2]}}, {% endfor %}],
                    backgroundColor:"black"
                },{
                    label: "E85",
                    data: [{% for item in daily %} {{item[3]}}, {% endfor %}],
                    backgroundColor:"lightgreen"

                },]
            },
            options: {
                responsive:false,
                maintainAspectRatio:true,
                scales: {
                    y: {
                        ticks:{
                            font:{
                                size:20,
                            }
                        },
                        min: 0,
                        max: 2.5
                    },
                    x: {
                        ticks:{
                            font:{
                                size:20,
                            }
                        }
                    }

                },
                plugins: {
                    title:{
                        display: true,
                        text: "Päivittäiset keskihinnat (viim 30 vrk)",
                        
                    }
                }
            }
        });
</script>
</div>


<input class="accinput" type="checkbox" id="monthly" />
<label class="acclabel" for="monthly">Kuukausittaiset</label>
<div class="contentacc">
    
    <canvas id="monthlyavgs" width="1000" height="500" ></canvas>
    <script>
        var ctx = document.getElementById('monthlyavgs').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
            
                labels: [{% for item in monthly %} '{{item[4].strftime("%m.%Y")}}', {% endfor %}],
                datasets: [{
                    label: "95 E10",
                    data: [{% for item in monthly %} {{item[0]}}, {% endfor %}],
                    backgroundColor:"green"
                },{
                    label: "98 E5",
                    data: [{% for item in monthly %} {{item[1]}}, {% endfor %}],
                    backgroundColor:"darkgreen"

                },{
                    label: "DIESEL",
                    data: [{% for item in monthly %} {{item[2]}}, {% endfor %}],
                    backgroundColor:"black"
                },{
                    label: "E85",
                    data: [{% for item in monthly %} {{item[3]}}, {% endfor %}],
                    backgroundColor:"lightgreen"

                },]
            },
            options: {
                responsive:false,
                maintainAspectRatio:true,
                scales: {
                    y: {
                        ticks:{
                            font:{
                                size:20,
                            }
                        },
                        min: 0,
                        max: 2.5
                    },
                    x: {
                        ticks:{
                            font:{
                                size:20,
                            }
                        }
                    }

                },
                plugins: {
                    title:{
                        display: true,
                        text: "Kuukausittaiset keskihinnat (viim 36kk)",

                    }
                }
            }
        });
</script>
</div>
{% endblock %}