{% extends "layout.html" %}
{% block title %}Asemat{% endblock %}
{% block content%}

<div class="divider"></div>

<div class="center content">

    <div class="corner contentacc">
        <table>
            <tr>
                <th>nro</th>
                <th>Asema</th>
                <th>Osoite</th>
                <th>Postinumero</th>
                <th>Kaupunki</th>
                <th>Tie</th>
            </tr>
            {% for station in stations %}
    <tr>
        <td>{{ station[0] }}</td>
        <td><a href="/station/{{ station[0] }}">{{ station[1] }}</a></td>
        <td>{{ station[2] }}</td>
        <td>{{ station[4] }}</td>
        <td>{{ station[3] }}</td>
        <td>{% if station[5] != "0" %}{{ station[5] }}{% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
</div>
</div>

{% endblock %}